.section-header {
    position: relative;
    padding-bottom: 7px;
}

.section-header__title {
    background-color: #fff;
    display: inline-block;
    padding-right: 10px;
    font-size: 25px;
}

.section-header__underline {
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 11px;
    left: 0;
    z-index: -1;
}