<h2>Flex</h2>
<div class="flex">
    <div class="flex-item">
        @@include('../card/_card.html')
    </div>
    <div class="flex-item">
        @@include('../card/_card.html')
    </div>
    <div class="flex-item">
        @@include('../card/_card.html')
    </div>
    <div class="flex-item">
        @@include('../card/_card.html')
    </div>
    <div class="flex-item">
        @@include('../card/_card.html')
    </div>
    <div class="flex-item">
        @@include('../card/_card.html')
    </div>
    <div class="flex-item">
        @@include('../card/_card.html')
    </div>
    <div class="flex-item">
        @@include('../card/_card.html')
    </div>
</div>