<section class="section">
    @@include("../section-header/_section-header.html", {"title": "Main news", "titleColor": "grey", "underLineColor": "grey"})
    <div class="news">
        <div class="news__item">
            <img src="./img/item1.jpg" alt="">
            <p>
                Messi got some ballons
            </p>
        </div>
        <div class="news__item">
            <img src="./img/item2.jpg" alt="">
            <p>
                Messi got some ballons
            </p>
        </div>
        <div class="news__item">
            <img src="./img/item3.jpg" alt="">
            <p>
                Messi got some ballons
            </p>
        </div>
        <div class="news__item">
            <img src="./img/item4.jpg" alt="">
            <p>
                Messi got some ballons
            </p>
        </div>
    </div>
</section>
