<div class="slider">
    <img src="./img/klopp.jpg">
    <div class="slider__description">
        <p class="slider-description-header">
            Jurgen Klopp makes a sexy Liverpool
        </p>
        <p class="slider-description-content">
            It is a long established fact that a reader w
            ill be distracted by the readable content of
             a page when looking at its layout. 
        </p>
    </div>
    <div class="slider__navigation">
        a 7/20 b
    </div>
</div>