.slider {
    padding-top: 15px;
    position: relative;
    border-bottom: 3px solid red;
    display: flex;
}

.slider__navigation {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.slider__description {
}